html {
    background: #5B6B67;
    color: #fff;
    font-size: 16px;
}
body {
    min-height: 100vh;
    padding: 30px 10%;
    max-width: 1500px;
}
.stepHeading {
    font-size: 1.5rem;
}
.stepBody {
    font-size: 1rem;
}
.link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}
.link:hover {
    font-weight: bold;
    color: yellow;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
img {
    height: auto;
    width: 20%;
}
h1 {
    display: inline-block;
    margin-left: 20px;
}
button {
    font-size: 1.3rem;
    background: yellow;
    border: none;
    border-radius: 5px;
    height: 50px;
    text-shadow: 1px 1px 1px black;
}
.highlightedWord {
    background: purple;
    color: yellow;
}
footer {
    margin-top: 20px;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    main, header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img {
        width: 80%;
    }
    .stepHeading {
        font-size: 1rem;
        
    }
    .stepBody {
        text-align: left;
    }
    h1 {
        font-size: 1.2rem;
        text-align: center;
    }
    button {
        font-size: 0.8rem;
        text-shadow: none;
        font-weight: bold;
        text-decoration: underline;
    }
    section {
        margin-top: 50px;
    }
}
